<figure class="text-center mb-0" style="background-color: #ddd">
  <h3 class="py-2 mb-0">Blog Site</h3>
</figure>
<nav class="navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 d-flex gap-3 justify-content-center">
        <li class="nav-item header-tab" routerLinkActive="active" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="blogs">Blogs</a>
        </li>
        <li class="nav-item header-tab" routerLinkActive="active" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="auth">Authentication</a>
        </li>
        <li
          class="nav-item header-tab"
          *ngIf="isAuthenticated"
          (click)="onLogout()"
        >
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
